@import "tailwindcss";

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
  transform: scale(0.9);
  line-height: 1.5 !important;
  
}