@import "tailwindcss";

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
  transform: scale(0.9);
  line-height: 1.5 !important;
  
}
.rbc-btn-group{
  display: none !important;

}
.rbc-toolbar-label{
  text-align: right !important;
  padding: 0px 20px !important;
}
.rbc-btn-group:last-child{
  font-size: 13px !important;

}
.rbc-btn-group:last-child button{
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}
.rbc-toolbar button.rbc-active{
  background-color: #dbdafe !important;
  box-shadow: none !important;
}
.rbc-time-view{
  border-color: #eee !important;
}
.rbc-time-header{
  display: none !important;
}
.rbc-time-gutter.rbc-time-column{
  font-size: 12px !important;
}
.rbc-time-gutter.rbc-time-column .rbc-timelot-group{
  padding: 0px 20px !important;
}
.rbc-timeslot-group{
  background-color: #f7fdff !important;
}
.rbc-day-slot {
  font-size: 14px !important;
}
.rbc-event{
  border: none !important;
  color: black !important;
  padding: 10px !important;
 
  width: 99% !important;
}
.rbc-event:nth-child(1){
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2){
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3){
  background-color: #fff0f6 !important;
}
.rbc-event:nth-child(4){
  background-color: #f3f4ff !important;
}
.rbc-event:nth-child(5){
  background-color: #e6fffb !important;
}   
.rbc-event:nth-child(6){
  background-color: #fff7e6 !important;
}
.rbc-event:nth-child(7){
  background-color: #f9f0ff !important;  
}
.rbc-event:nth-child(8){
  background-color: #ffeedb !important;
}
.rbc-event:nth-child(9){
  background-color: #e6f7ff !important;
}
.rbc-event:nth-child(10){
  background-color: #fff1f0 !important;
}

.rbc-event-label{
  color: gray !important;
  margin-bottom: 5px !important;
}